<footer class="footer">
<small>
<h3>Copyright @ 2016| All rights Reserved</h3>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>

</ul>
</nav>
</footer>